
body {
  background-color: black;
  color: white;
 
}
h1{
  text-align: center;
  font-family: sans-serif;
  background:
    linear-gradient(
      to right,
      rgb(157, 157, 165),
      rgb(255, 255, 255)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgb(0, 255, 55),
      rgba(0, 10, 255, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 100ms;
}

h1:hover {
  background-size: 0 3px, 100% 3px;
}
.banner{
  overflow:auto;
  font-weight: 900;
}

#red-tuner:hover {
  color: red;
}

#green-tuner:hover {
  color: green;
}

#blue-tuner:hover {
  color: blue;
}

.trail { /* className for the trail elements in mouse tail */
  position: absolute;
  height: 6px; width: 6px;
  border-radius: 3px;
  background: white
}


